@model IEnumerable<Smoothboardstylers.Models.Voorraad>

@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Surfboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filiaal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aantal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surfboard.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filiaal.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>  
        </tr>
}
    </tbody>
</table>
